*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    background-image: url(../img/rainingCode.jpg);
    background-repeat: no-repeat;
    font-family: sans-serif;
    color: white;
}

h1{
    font-size: 5rem;
    padding-top: 3rem;
}

h2{
    font-size: 3.4rem;
    padding-top: 2rem;
}

h3{
    font-size: 2.4rem;
    padding-top: 4rem;
}

h4{
    font-size: 3rem;
    padding-top: 2.5rem;
}